
ObjectTracking/deploy.prototxt.txt

ObjectTracking/res10_300x300_ssd_iter_140000.caffemodel

ObjectTracking/test1.avi

ObjectTracking/videoData/Test1.mp4

ObjectTracking/videoData/Test2.mp4

Connect/Data/Test1.mp4

Connect/Data/pns_color.jpg

ObjectTracking/slice_test2.avi

ObjectTracking/slice_test2.mp4

ObjectTracking/videoData/slice_test2.mp4

Connect/Test/Java_Client/outPut.jpg

Connect/Data/imageC.jpg
